[submodule "ecl"]
	path = ecl
	url = https://github.com/spaceotter/ecl.git
[submodule "irrlicht"]
	path = irrlicht
	url = https://github.com/minetest/irrlicht.git
[submodule "unplusplus"]
	path = unplusplus
	url = https://github.com/spaceotter/unplusplus.git
[submodule "ST-JSON"]
	path = ST-JSON
	url = https://github.com/marijnh/ST-JSON.git
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime.git
[submodule "cl-upp"]
	path = cl-upp
	url = https://github.com/spaceotter/cl-upp.git
[submodule "IrrIMGUI"]
	path = IrrIMGUI
	url = https://github.com/spaceotter/IrrIMGUI.git
